In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [ ]:
"""Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional"""

In [3]:
df.drop("date", axis = 1, inplace = True)

In [4]:
df.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
#Simple Linear Regression Model

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

In [9]:
feature_df = normalized_df[["T2"]]

target = normalized_df["T6"]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature_df, target, test_size = 0.3, random_state = 1)

In [13]:
reg = LinearRegression()
reg.fit(X_train, y_train)

In [16]:
# Make prediction with the model
reg_pred = reg.predict(X_test)

In [17]:
# Evaluate the performance of the model using R_squared
from sklearn.metrics import r2_score
R = r2_score(y_test, reg_pred)
print(round(R, 4))

0.6459

In [21]:
normalized_df.columns

Index(['Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4',
       'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9',
       'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [22]:
normalized_df.drop("lights", axis = 1, inplace = True)

In [23]:
feature = normalized_df.drop("Appliances", axis =1)
target = normalized_df["Appliances"]

In [24]:
normalized_df.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [25]:
# Split the dataset into training and test set
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size = 0.3, random_state = 42)
ml = LinearRegression()
ml.fit(X_train, y_train)
ml_pred = ml.predict(X_test)

In [29]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, ml_pred)
print(round(MAE, 2))

0.05

In [30]:
RSS = np.sum(np.square(y_test - ml_pred))
print(round(RSS, 2))

45.35

In [31]:
from sklearn.metrics import mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, ml_pred))

print(round(RMSE, 3))

0.088

In [32]:
from sklearn.metrics import r2_score
R_squared = r2_score(y_test, ml_pred)
print(round(R_squared, 2))

0.15

In [33]:
model_coefficient = pd.DataFrame()
model_coefficient["columns"] = X_train.columns
model_coefficient["Coefficient Estimate"] = pd.Series(ml.coef_)
model_coefficient

        columns  Coefficient Estimate
0            T1             -0.003281
1          RH_1              0.553547
2            T2             -0.236178
3          RH_2             -0.456698
4            T3              0.290627
5          RH_3              0.096048
6            T4              0.028981
7          RH_4              0.026386
8            T5             -0.015657
9          RH_5              0.016006
10           T6              0.236425
11         RH_6              0.038049
12           T7              0.010319
13         RH_7             -0.044614
14           T8              0.101995
15         RH_8             -0.157595
16           T9             -0.189941
17         RH_9             -0.039800
18        T_out             -0.321860
19  Press_mm_hg              0.006839
20       RH_out             -0.077671
21    Windspeed              0.029183
22   Visibility              0.012307
23    Tdewpoint              0.117758
24          rv1              0.000770
25          rv2              0.000770

# Ridge Regression Model (L2 Regularization)

In [34]:
from sklearn.linear_model import Ridge

ridge_model = Ridge(alpha=0.4)

ridge_model.fit(X_train, y_train)

ridge_pred = ridge_model.predict(X_test)

RMSE1 = np.sqrt(mean_squared_error(y_test, ridge_pred))

print("The RMSE is :", round(RMSE1, 3))

ridge_coefficient = pd.DataFrame()
ridge_coefficient["columns"] = X_train.columns
ridge_coefficient["Coefficient Estimate"] = pd.Series(ridge_model.coef_)
print(ridge_coefficient)

The RMSE is : 0.088
        columns  Coefficient Estimate
0            T1             -0.018406
1          RH_1              0.519525
2            T2             -0.201397
3          RH_2             -0.411071
4            T3              0.288087
5          RH_3              0.095135
6            T4              0.027384
7          RH_4              0.024579
8            T5             -0.019853
9          RH_5              0.016152
10           T6              0.217292
11         RH_6              0.035519
12           T7              0.010098
13         RH_7             -0.045977
14           T8              0.101028
15         RH_8             -0.156830
16           T9             -0.188916
17         RH_9             -0.041367
18        T_out             -0.262172
19  Press_mm_hg              0.006584
20       RH_out             -0.054724
21    Windspeed              0.030268
22   Visibility              0.012076
23    Tdewpoint              0.083128
24          rv1              0.000748
25          rv2              0.000748

In [35]:
# import the lasso model
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.001)

lasso_model.fit(X_train, y_train)

lasso_pred = lasso_model.predict(X_test)

RMSE2 = np.sqrt(mean_squared_error(y_test, lasso_pred))

print("The RMSE is: ", round(RMSE2, 3))

lasso_coef = pd.DataFrame()
lasso_coef["columns"] = X_train.columns
lasso_coef["Coefficient Estimate"] = pd.Series(lasso_model.coef_)

print(lasso_coef)

The RMSE is:  0.094
        columns  Coefficient Estimate
0            T1              0.000000
1          RH_1              0.017880
2            T2              0.000000
3          RH_2             -0.000000
4            T3              0.000000
5          RH_3              0.000000
6            T4             -0.000000
7          RH_4              0.000000
8            T5             -0.000000
9          RH_5              0.000000
10           T6              0.000000
11         RH_6             -0.000000
12           T7             -0.000000
13         RH_7             -0.000000
14           T8              0.000000
15         RH_8             -0.000110
16           T9             -0.000000
17         RH_9             -0.000000
18        T_out              0.000000
19  Press_mm_hg             -0.000000
20       RH_out             -0.049557
21    Windspeed              0.002912
22   Visibility              0.000000
23    Tdewpoint              0.000000
24          rv1             -0.000000
25          rv2             -0.000000